body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative;
}

footer.page-footer{
  margin-top: 0;
  padding-top: 0;
}

img.occurrence {
  background: black;
  mix-blend-mode: difference;
}

.control-inputs button {
  margin-bottom: 3px;
}

.radio label {
  padding-left: 23px !important;
  padding-right: 5px;
}

#input {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  min-height: 100%;
}

#card-image img {
  width: 100%;
}

#preview-grid div {
  display: flex;
  justify-content: space-between;
}

#preview-grid img {
  width: 7.5%;
  padding: 0;
  height: 7.5%;
}

#preview-grid img.shade{
  background-color: black;
  mix-blend-mode: difference;
}
.nom, .dnom {
  display: flex;
  justify-content: center;
}
.frac .dnom span{
  border-top: 2px solid black;
}
.math {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.math div {
  margin-left: 5px;
}
.frac {
  display: flex;
  flex-flow: column;
  align-items: center;
}
