body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative;
}

footer.page-footer{
  margin-top: 0;
  padding-top: 0;
}

.control-inputs button {
  margin-bottom: 3px;
}

#input {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  min-height: 100%;
}

#card-image img {
  width: 100%;
}

#rule-radio label {
  padding-left: 23px;
  padding-right: 5px;
}
