body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.pull-down {
  z-index: 2;
  position: absolute;
  top: 0;
}

.background {
  z-index: 0;
  position: relative;
}
